/* promo */
#promo {
    min-height: 100vh;
    margin-bottom: 2rem;
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.3)), url(../resources/images/promo-bg-1.jpg) center/cover no-repeat;
    text-align: center;
    animation: backgroundChange 10s infinite;
}

@keyframes backgroundChange {

    0%,
    100% {
        background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.3)), url(../resources/images/promo-bg-1.jpg) center/cover no-repeat;
    }

    33% {
        background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.3)), url(../resources/images/promo-bg-2.jpg) center/cover no-repeat;
    }

    66% {
        background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.3)), url(../resources/images/promo-bg-3.jpg) center/cover no-repeat;
    }
}

#promo span {
    text-transform: uppercase;
    font-family: var(--oswald);
    font-size: 3rem;
}

#promo h2 {
    font-size: 4rem;
    letter-spacing: 2px;
    font-family: var(--audiowide);
    margin-top: 2rem;
}

#promo .text {
    max-width: 500px;
    margin-right: auto;
    margin-left: auto;
    font-size: 1.8rem;
}

#promo .btn-groups {
    flex-wrap: wrap;
    margin-top: 2rem;
}

#promo .btn-groups a {
    margin: 1rem;
    background-color: var(--green-color);
    border-radius: .3rem;
    color: #fff;
    padding: 1.4rem 2rem;
    font-size: 1.8rem;
    text-transform: uppercase;
    transition: var(--trans);
}

#promo .btn-groups a:hover {
    background-color: var(--dark-green-color);
}