/* NEWS */
.title {
    background-color: var(--red-color);
    padding: 1rem 0;
    color: #fff;
  }

  .title h2 {
    margin: 0;
  }

  article {
    margin: 2rem 0;
  }

  .item-img{
    position: relative;
    height: 380px;
    overflow: hidden;
  }


  .item-img img {
    object-fit: cover;
    height: 100%;
  }

  .item-img span {
    position: absolute;
    bottom: 0;
    right: 0;
    display: inline-block;
    padding: 1rem 1.5rem;
    background-color: var(--red-color);
    color: #fff;
  }

  .item-text{
    padding: 2rem 0;
  }

  .h1 {
    font-size: 2.2rem;
    color: #fff;
    display: block;
    margin-bottom: 1.6rem;
    line-height: 1.3;
    letter-spacing: 1px;
  }

  .item-text a {
    transition: var(--trans);
  }

  .item-text a:hover {
    opacity: 0.8;
  }

  .category {
    font-family: var(--oswald);
    font-size: 1.6rem;
    display: inline-block;
    text-transform: uppercase;
    padding: 0.4rem 0.8rem;
    background-color: var(--red-color);
    margin-right: 1rem;
    margin-bottom: 1rem;
    border-radius: .2rem;
  }

  .item-text .date {
    opacity: 0.5;
    margin-top: 1.5rem;
    letter-spacing: 1px;
  }
